$mainFontFamily: 'Open Sans', sans-serif;
$titleFontFamily: 'Montserrat', sans-serif;
$titleColor: #18181d;
$contentColor: #838383;
$buttonColor: #ffffff;
$hoverButtonColor: #f0f2f3;
$buttonBackgroundColor: #50BD4D;
$hoverButtonBackgroundColor: #40a13d;
$starColor: #FFA80A;
$darkBackgroundColor: #5D5D5D;
$mainFontSize: 14px;
$titleFontSize: 20px;
$bigTitleFontSize: 26px;
